.login-pf body {
   background: radial-gradient(circle at 0% 0%, #000000 0%, #101828 40%, #162456 100%);
   background-repeat: no-repeat;
   background-attachment: fixed;
}

#kc-header-wrapper {
   margin-bottom: 0px;
   background-image: url(../img/keycloak-logo-text.png);
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   color: transparent;
   height: 50px;
   user-select: none;
}

.login-pf-page {
   padding-bottom: 18px;
}

.card-pf {
   border-radius: 16px;
   box-sizing: border-box;
   border-top: 5px solid transparent;
   background-clip: padding-box, border-box;
   background-origin: padding-box, border-box;
   background-image: linear-gradient(#fff, #fff), linear-gradient(90deg, #bedbff, #00d3f3, #51a2ff);
}

#kc-login,
.pf-m-primary {
   border-radius: 8px;
   background: linear-gradient(90deg, #bedbff, #00d3f3, #51a2ff);
}

#social-google {
   background-color: #fff;
   border-radius: 8px;
   color: #3c4043;
   border: 1px solid var(--pf-c-button--m-control--after--BorderTopColor);
}

#social-google:hover {
   background-color: #f7f8f8;
}

.fa-google {
   position: relative;
   color: transparent !important;
}

.fa-google::before {
   content: "";
   position: absolute;
   inset: 0;
   background: url('https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg') center/contain no-repeat;
}

#social-facebook {
   border-radius: 8px;
   background-color: #1877F2;
   color: white;
}

#social-facebook:hover {
   background-color: #166fe5;
}

.fa-facebook {
   color: white;
   font-size: 25px;
}

.pf-c-button {
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.pf-c-button:after {
   border: 0px;
}

#kc-info-wrapper {
   border-radius: 0px 0px 16px 16px;
}

[aria-controls="password"],
[aria-controls="password-confirm"] {
   border-radius: 0px 8px 8px 0px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   border-bottom-color: var(--pf-global--BorderColor--300);
}

.form-group input {
   border-radius: 8px;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
   border-bottom-color: var(--pf-global--BorderColor--300);
}

.form-group input:hover,
[aria-controls="password"]:hover,
[aria-controls="password-confirm"]:hover {
   border: 1px solid var(--pf-c-form-control--hover--BorderBottomColor);
}

#password,
#password-confirm {
   border-radius: 8px 0px 0px 8px;
}

input[type="checkbox"] {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   border: 2px solid #ccc;
   border-radius: 4px;
   width: 15px;
   height: 15px;
   cursor: pointer;
   margin: 0px;
   margin-right: 4px;
}

.checkbox label {
   display: flex;
   align-items: center;
}

input[type="checkbox"]:hover {
   border: 2px solid #ccc;
}

input[type="checkbox"]:checked {
   background-color: #00d3f3;
}